* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}

.Menu {
  /* background-image: url("big-normal.jpg"); */
  background-color: rgb(251, 233, 198);
  /* background-size: cover; */
}

#menu-logo {
  position: absolute;
  left: 0;
  top: -30px;
  height: 120px;
}

.category-btns {
  margin-top: 2rem;
}

.category {
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  margin: 1px;
  border-radius: 2px;
  font-size: 16px;
}

.category:hover {
  background-color: rgb(216, 213, 213);
}

.active-category {
  background-color: rgb(141, 233, 98);
}

.search {
  margin: 5px auto;
  width: 40%;
}
.search input {
  padding: 0 5px;
  height: 36px;
  margin-right: 5px;
  font-size: 16px;
  border: 1px solid #d9d6d6;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 1rem;
  text-align: center;
  font-family: arial;
  float: left;
  width: 25%;
  padding: 5px;
}

.card-image {
  cursor: pointer;
  max-height: 145px;
}

.card img {
  max-width: 100%;
}

.cards::after {
  content: '';
  clear: both;
  display: table;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  right: 25px;
  top: 5px;
  background-color: #4870f0;
  color: white;
  padding: 10px;
}

.text-block p {
  margin: 0;
}

.price {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.card button:hover {
  opacity: 0.7;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 1.5rem;
}

.cart {
  background-color: red;
  color: white;
}

.cart:hover {
  /* background-color: white; */
  background-color: rgb(216, 213, 213);

  color: red;
}

.cart i {
  margin-left: 10px;
  color: black;
}

.shopping-cart {
  justify-content: center;
}

.Card {
  background-color: rgb(251, 233, 198);
}

.link {
  font-weight: bolder;
  color: #5d1700;
}

.text {
  color: #5d1700;
}

.Nav {
  min-height: 50px;
  align-items: center;
  background-color: rgb(251, 233, 198);
}

.CardBody {
  align-content: space-between;
}

.discount-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.discount-result {
  margin-top: 20px;
  font-size: 1.2rem;
}
